{% extends 'stock/base.html' %}
{% block menu%}
	<nav class="navbar navbar-inverse navbar-fixed-top">
	  <div class="container-fluid">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="#">KWMS</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li><a href="/products/">Products</a></li>
	      <li><a href="/product_category/">Product Category</a></li>
	      <li><a href="/stockoperations/">Stock Operations</a></li>

	    </ul>
	    <ul class="nav navbar-nav navbar-right">
	      <li><a href="/signout/"><span class="glyphicon glyphicon-log-in"></span>Signout</a></li>
	    </ul>
	  </div>
	</nav>
{% endblock %}
{% block description%}
{% endblock %}
{% block content%}
{% endblock %}
{% block footer%}
{% endblock %}