{% extends "stock/index.html" %}
{% block content%}
	<a href="/pc_create/">CREATE PRODUCT CATEGORY</a>
	<h1>Product categories</h1>
	<div class="table-responsive">
		<table class="table">
			<tr>
				<td>Unique Name</td><td>Name</td><td>DESC</td><td>Operations</td>
			</tr>
			{% for object in object_list %}
			<tr>
				<td>{{ object.unique_name }}</td>
				<td>{{ object.name }}</td>
				<td>{{ object.desc }}</td>
				<td>
					<a href="/pc_update/{{object.id}}/">UPDATE</a>
					<a href="/pc_delete/{{object.id}}/">DELETE</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
	
{% endblock %}