{% extends "stock/index.html" %}
{% block content%}
	<a href="/pc_create/">CREATE PRODUCT CATEGORY</a>
	<form>
		Pagenumber:<input type="text" name="page" value="{{page_obj.number}}">
		<input type="submit" name="" value="Get Page records">
	</form>
	<h1>Product categories</h1>
	<div class="table-responsive">
		<table class="table" id="datatable">
			<thead>
			<tr>
				<th>Unique Name</th><th>Name</th><th>DESC</th>
				<th>image</th><th>Operations</th>
			</tr>
			</thead>
			<tbody>
				{% for object in object_list %}
				<tr>
					<td>{{ object.unique_name }}</td>
					<td>{{ object.name }}</td>
					<td>{{ object.desc }}</td>
					<td><img src="/media/{{ object.image}}"
						width="30" height="30"></td>
					<td>
						<a href="/pc_update/{{object.id}}/">UPDATE</a>
						<a href="/pc_delete/{{object.id}}/">DELETE</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	
{% endblock %}