<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<a href="/create_stockoperation/"> CREAT STOCK OPERATION</a><br>
	<table border="1">
		<thead>
			<tr>
				<th>NAME</th>
				<th>DESC</th>
				<th>vendor</th>
				<th>products</th>
				<th>operations</th>
			</tr>
		</thead>
		<tbody>
			{% for row in data%}
			<tr>
				<td>{{ row.name}}</td>
				<td>{{ row.desc}}</td>
				<td>{{ row.vendor}}</td>
				<td>
					{% for product in row.products.all%}
					{{ product}}
					{% endfor %}
				</td>
				<td><a href="/update_stockoperation/{{row.id}}/">update</a>
					<a href="/delete_stockoperation/{{row.id}}/">delete</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</body>
</html>